.spb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-margin {
  margin: 10px 0;
}

.post {
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__button-group {
    display: flex;

    &__more {
      background: none;
      border: 2px solid teal;
      border-radius: 5px;
      font-size: 16px;
      transition: 0.8s;

      &:hover {
      }
    }
    &__delete {
      border: none;
      background: none;
    }
  }
}
